*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;

}	

html{
	overflow-x: hidden;
}

html::-webkit-scrollbar{
	width: 0.8rem;
}

html::-webkit-scrollbar-track{
	background: black;
}

html::-webkit-scrollbar-thumb{
	background: orange;
}

body{
	background: black;
	overflow-x: hidden;
}

span{
	color: yellow;
	width: 30px;
}

header{
	position: fixed;
	z-index: 10;
	height: 100%;
	background: #e0f037;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*transform: translateX(100%);*/
	transition: left 0.7s ease;
	width: 280px;
	font-family: 'Bangers', cursive;
}

header .userinfo img{
	height: 100px;
	width: 100px;
	border: 8px solid black;
	border-radius:50% ;
}

header .userinfo .name{
	font-size: 35px;
	letter-spacing: 2px;
}

header .userinfo .degn{
	font-size: 28px;
	letter-spacing: 1px;
}

header .navbar{
	width: 100%;
}

header .navbar ul{
	list-style-type: none;
	padding: 10px;
}

header .navbar ul li a{
	text-decoration: none;
	display: block;
	padding: 18px;
	margin: 16.5px 0;
	background: black;
	color: #e0f037;
	/*font-weight: bold;*/
	font-size: 24px;
	border-radius: 80px;
	letter-spacing: 5px;
}

header .navbar ul li a:hover{
	background: red;
}

#menu{
	position: fixed;
	top: 30px;
	right: 10px;
	cursor: pointer;
	/*background: grey;*/
	color: white;
	font-size: 30px;
	padding: 10px;
	border-radius:10px;
	z-index: 200;
	
	display: none;
}

.home{
	margin-left: 500px;
	margin-top: 300px;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	font-family: 'Lobster', cursive;

}

.home h1{
	font-size: 70px;
	color: white;
}

.home h2{
	font-size: 40px;
	margin-top: 20px;
	color: white;
}

.home p{
	font-size: 35px;
	/*text-align: center;*/
	margin-top: 25px;
	color: white;
}

.home img{
	position: absolute;
	width: 200px;
	height: 400px;
	border-radius: 40%;
	margin-left: 500px;
	margin-top: -180px;
}

.break{
	height: 2px;
	width: 100%;
	margin-top: 130px;
	background-color: rgba(255,255,255,0.5);
}

.about{
	color: white;
	margin-top: 150px;
	margin-left: 560px;
	font-family: 'Righteous', cursive;
}

.about h1{
	font-size: 50px;
	/*text-align: center;*/
}

.about h3{
	margin-top: 40px;
	/*margin-left: 300px;*/
	font-size: 30px;
}

.skill{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 20px;
}
.about .skill span{
	background: yellow;
	color: black;
	border-radius: 20px;
	width: 155px;
	margin-top: 3px;
	margin-bottom: 30px;
	margin-left: 2px;
	text-align: center;

}

.work{
	color :white;
	margin-top: 160px;
	margin-left: 500px;
	font-family: 'Righteous', cursive;
}

.work h1{
	font-size: 50px;
}

.prjdis{
	margin-top: 50px;
	/*margin-left: -20px;*/
	display: grid;
	grid-template-columns:  1fr 1fr;
}

.box{
	height: 350px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: yellow;
	margin-left: 10px;
	margin-bottom: 40px;
	border-radius: 26px;
}

.box img{
	height: 250px;
	width: 350px;
}

.box p{
	background: black;
	color: yellow;
	font-weight: bold;
	/*border-radius: 30px;*/
	height: 40px;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	margin-top: 10px;
}

.box:hover{
	box-shadow: 5px 5px 60px 20px #f0f274;
}

.box p:hover{
	font-size: 27px;
}

.connection{
	color: white;
	margin-left: 500px;
	margin-top: 100px;
	font-family: 'Righteous', cursive;
	word-spacing: 20px;
}

.connection h1{
	font-size: 50px;
}

.connection a{
	/*margin-left: 900px;*/
	color: white;
	padding: 10px;
	text-align: center;
	/*text-decoration: none;*/
	margin-bottom: 20px;
	margin-left: 20px;

}

.connection a:hover{
	color: yellow;
	transition: all 0.4s ease-in;
	font-size: 40px;
	border-radius: 20px;
	padding: 10px;
	border: 5px yellow solid;
}

.con-logos{
	margin-top: 30px;
	margin-left: 100px;
	display: flex;
	padding: 20px;
	flex-direction: row;
	padding: 10px 50px 10px 50px;
}

.icons{
	/*background-color: white;*/
	/*justify-content: flex-start;*/
	/*margin-top: 30px;*/
	font-size: 40px;
	font-weight: bold;

}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media(max-width: 1246px){
	.home{

	margin-left: 300px;
	margin-top: 300px;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	}

	.home h2{
		font-size: 35px;
	}

	.home p{
		font-size: 24px;
		width: 400px;
	}

	.home img{
	position: absolute;
	width: 200px;
	height: 400px;
	border-radius: 40%;
	margin-left: 370px;
	margin-top: -160px;
	}

	.about{
	color: white;
	margin-top: 150px;
	margin-left: 400px;
	margin-right: auto;
}

.about h1{
	font-size: 50px;
	/*text-align: center;*/
}

.about h3{
	margin-top: 40px;
	/*margin-left: 300px;*/
	font-size: 30px;
}

.skill{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 20px;
}
.about .skill span{
	background: yellow;
	color: black;
	border-radius: 20px;
	width: 155px;
	margin-top: 3px;
	margin-bottom: 30px;
	margin-left: 2px;
	text-align: center;

}

	.prjdis{
	margin-top: 50px;
	/*margin-left: -20px;*/
	display: grid;
	grid-template-columns:  1fr 1fr;
	margin-left: -200px;
	/*margin-right: auto;*/
}

.box{
	height: 200px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: yellow;
	margin-left: 10px;
	margin-bottom: 40px;
	border-radius: 26px;
}

.box img{
	height: 100px;
	width: 200px;
}

}

@media(max-width: 813px){
	header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
    width: 100%;
   }

   header.toggle #menu{
   	display: none;
   }

   body{
       padding:0;
   }

   .home{

	margin-left: 200px;
	margin-right: auto;
	margin-top: 400px;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	}

	.home h2{
		font-size: 35px;
	}

	.home p{
		font-size: 24px;
		width: 400px;
	}

	.home img{
	position: absolute;
	width: 200px;
	height: 400px;
	border-radius: 50%;
	margin-left: 70px;
	margin-top: -330px;
	}

	.about{
	color: white;
	margin-top: 150px;
	margin-left: 90px;
	/*margin-right: auto;*/
}

.about h1{
	font-size: 50px;
	/*text-align: center;*/
}

.about h3{
	margin-top: 40px;
	/*margin-left: 300px;*/
	font-size: 30px;
}

.skill{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 20px;
}
.about .skill span{
	background: yellow;
	color: black;
	border-radius: 20px;
	width: 155px;
	margin-top: 3px;
	margin-bottom: 30px;
	margin-left: 2px;
	text-align: center;

}

.work h1{
	margin-left: -360px;
}

.prjdis{
	margin-top: 50px;
	/*margin-left: -20px;*/
	display: grid;
	grid-template-columns:  1fr 1fr;
	margin-left: -400px;
	/*margin-right: 200px;*/
}

.box{
	height: 200px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: yellow;
	margin-left: 10px;
	margin-bottom: 40px;
	border-radius: 26px;
}

.box img{
	height: 100px;
	width: 200px;
}

		.connection{
	color: white;
	margin-left: 100px;
	margin-top: 100px;
	width: 100%;
	font-family: 'Righteous', cursive;
	word-spacing: 20px;
}

.connection h1{
	font-size: 50px;
}


}

@media(max-width: 630px){
	.home{
	/*margin-left: auto;*/
	margin-left: 15px;
	margin-top: 400px;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	}

	.home h1{
		font-size: 30px;
	}

	.home h2{
		font-size: 25px;
	}

	.home p{
		font-size: 20px;
		width: 360px;
	}

	.home img{
	position: absolute;
	width: 200px;
	height: 400px;
	border-radius: 50%;
	margin-left: 70px;
	margin-top: -280px;
	}

	.about{
	color: white;
	margin-top: 120px;
	margin-left: 15px;
	/*margin-right: auto;*/
}

.about h1{
	font-size: 30px;
	/*text-align: center;*/
}

.about h3{
	margin-top: 40px;
	/*margin-left: 300px;*/
	font-size: 24px;
}

.skill{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 20px;
}
.about .skill span{
	background: yellow;
	color: black;
	border-radius: 20px;
	width: 155px;
	margin-top: 3px;
	margin-bottom: 30px;
	margin-left: 2px;
	text-align: center;

}

.work h1{
	font-size: 30px;
}

/*.prjdis{
	margin-top: 50px;
	
	display: grid;
	grid-template-columns:  1fr;
	margin-left: -400px;
	
}*/

	.connection{
	color: white;
	margin-left: 60px;
	margin-top: 100px;
	width: 100%;
	font-family: 'Righteous', cursive;
	/*word-spacing: 20px;*/
}

.connection h1{
	font-size: 30px;
}

.connection a{
	/*margin-left: 900px;*/
	color: white;
	padding: 10px;
	/*text-align: center;*/
	/*text-decoration: none;*/
	/*margin-bottom: 20px;*/
	/*margin-left: 20px;*/

}

.connection a:hover{
	color: yellow;
	transition: all 0.4s ease-in;
	font-size: 40px;
	border-radius: 20px;
	padding: 10px;
	border: 5px yellow solid;
}

.con-logos{
	margin-top: 30px;
	margin-left: -15px;
	display: flex;
	padding: 20px;
	flex-direction: row;
	padding: 10px 50px 10px 50px;
}

.icons{
	/*background-color: white;*/
	/*justify-content: flex-start;*/
	/*margin-top: 30px;*/
	font-size: 30px;
	font-weight: bold;

}

}

@media(max-width: 426px){

	.prjdis{
	margin-top: 50px;
	/*margin-left: -20px;*/
	display: grid;
	grid-template-columns:  1fr;;
	margin-left: -450px;
	/*margin-right: 200px;*/
	}


	.connection{
	color: white;
	margin-left: 10px;
	margin-top: 100px;
	width: 100%;
	font-family: 'Righteous', cursive;
	/*word-spacing: 20px;*/

}

.con-logos{
	margin-top: 30px;
	margin-left: -30px;
	display: flex;
	padding: 20px;
	flex-direction: row;
	padding: 10px 50px 10px 50px;
}

}